<div id="container">
  <div id="navbar">
    <img id="logo" src="/assets/logo.jpg"/>
    <ul id="nav">
      Navigate to:
      <li><%= link_to "Weights.", weights_path %></li>
      <li><%= link_to "Fuels.", fuels_path %></li>
      <li><%= link_to "Exercises.", exercises_path %></li>
      <li><%= link_to "Steps.", steps_path %></li>
    </ul>
    <h1>Your Dashboard</h1>
  </div>

  <div id="content">
    <div class="clear">
    <h2>Summaries</h2>
  </div>
    <div class="summary">
      <h3>Lifetime summary:</h3>
      <p>
        Net Calories:
        <%= @net_calories %>
      </p>
      <p>
        Total caloric intake:
        <%= Fuel.calories %>
      </p>
      <p>
        Total calories burned:
        <%= @total_burned %>
      </p>
      <p>
        Total steps:
        <%= @total_steps %>
      </p>
      <p>
        Average weight:
        <%= @avg_weight %>
      </p>
    </div>

    <div class="summary">
      <h3>Today's summary:</h3>
      <p>
        Net calories:
        <%= %>
      </p>
      <p>
        Caloric intake:
        <%= %>
      </p>
      <p>
        Calories burned:
        <%= %>
      </p>
      <p>
        Steps taken:
        <%= %>
      </p>
      <p>
        Weight:
        <%= %>
      </p>
    </div>

    <div class="summary">
      <h3>Week summary:</h3>
      <p>
        Net calories this week:
        <%= %>
      </p>
      <p>
        Calories consumed this week:
        <%= %>
      </p>
      <p>
        Calories burned this week:
        <%= %>
      </p>
      <p>
        Steps taken this week:
        <%= %>
      </p>
      <p>
        Average Weight for the current week:
        <%= @avg_weight_week %>
      </p>
    </div>

    <div class="clear">
      <h2>Weekly charts</h2>
    </div>

    <div class="chart">
      <table>
        <tr>
          <th colspan="2">Intake</th>
        </tr>
        <tr>
          <td>Date</td>
          <td>Calories</td>
        </tr>
        <% x = 0 %>
        <% while x < 7 do %>
        <tr>
          <td><%= Date.today - x.days %></td>
          <td><%= Fuel.daily_calories(x) %></td>
          <% x += 1 %>
        </tr>
        <% end %>
      </table>
    </div>

    <div class="chart">
      <table>
        <tr>
          <th colspan="2">Burn</th>
        </tr>
        <tr>
          <td>Date</td>
          <td>Calories</td>
        </tr>
        <% x = 0 %>
        <% while x < 7 do %>
        <tr>
          <td><%= Date.today - x.days %></td>
          <td><%= Fuel.daily_calories(x) %></td>
          <% x += 1 %>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="chart">
      <table><tr>
        <th colspan="2">Weight</th>
      </tr>
      <tr>
        <td>Date</td>
        <td>Pounds</td>
      </tr>
        <% x = 0 %>
        <% while x < 7 do %>
        <tr>
          <td><%= Date.today - x.days %></td>
          <td><%= Fuel.daily_calories(x) %></td>
          <% x += 1 %>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="chart">
      <table><tr>
        <th colspan="2">Steps</th>
      </tr>
      <tr>
        <td>Date</td>
        <td>Count</td>
      </tr>
        <% x = 0 %>
        <% while x < 7 do %>
        <tr>
          <td><%= Date.today - x.days %></td>
          <td><%= Fuel.daily_calories(x) %></td>
          <% x += 1 %>
        </tr>
        <% end %>
      </table>
    </div>
    </div>
    <div class="clear"/>
    <div id="tag">
    <p>Developed by the McJeneee organization.</p>
  </div>
  </div>
</div>
