<img src="/assets/logo.jpg"></img>
<%= link_to "Weights.", weights_path %>
<%= link_to "Fuels.", fuels_path %>
<%= link_to "Exercises.", exercises_path %>
<%= link_to "Steps.", steps_path %>
<h1>Welcome to Dashboard</h1>

<h3>Today's summary:</h3>
  <p>
  Net Calories:
  <%= @net_calories_today %>
  </p>
  <p>
    Average Weight for the current week:
    <%= @avg_weight_week %>
  </p>

  <p>
    7 day summary of calories consumed:
  </p>
  <table>
    <% x = 0 %>
    <% while x < 7 do %>
      <tr>
        <td><%= Date.today - x.days %></td>
        <td><%= Fuel.daily_calories(x) %></td>
            <% x += 1 %>
      </tr>
    <% end %>
  </table>
<p>
  7 day weight summary:
</p>
<table>
  <% x = 0 %>
  <% while x < 7 do %>
    <tr>
      <td><%= Date.today - x.days %></td>
      <td><%= Weight.daily_weight_week(x) %></td>
          <% x += 1 %>
    </tr>
  <% end %>
</table>

<p>Developed by the McJeneee organization.</p>
