<img src="/assets/logo.jpg"></img>
<%= link_to "Weights.", weights_path %>
<%= link_to "Fuels.", fuels_path %>
<%= link_to "Exercises.", exercises_path %>
<%= link_to "Steps.", steps_path %>
<h1>Welcome to Dashboard</h1>

<h3>Today's summary:</h3>
  <p>
  Net Calories:
  <%= @net_calories_today %>
  </p>
  <p>
    Average Weight for the current week:
    <%= @avg_weight_week %>
  </p>
>>>>>>> origin/mcjosh
<p>Developed by the McJeneee organization.</p>
