<img src="/assets/logo.jpg"></img>
<%= link_to "Weights.", weights_path %>
<%= link_to "Fuels.", fuels_path %>
<%= link_to "Exercises.", exercises_path %>
<%= link_to "Steps.", steps_path %>
<h1>Welcome to Dashboard</h1>
<p>
  <h3>Today's summary:</h3>
  <p>
  Net Calories:
    <%= @today.net_calories %>
  </p>
</p>

<p>Developed by the McJeneee organization.</p>
